<div class="admin-page">
  <h1><%= t("admin.home") %></h1>
  <div class="link"><%= link_to  t("admin.user_list"), admin_users_path %></div>
  <div class="link"><%= link_to  t("admin.mission_list"), admin_missions_path %></div>
</div>
