<div class="admin-wrap">
  <div class="admin-page">
    <div class="link"><%= link_to  "查看所有使用者", admin_users_path %></div>
    <div class="link"><%= link_to  "查看所有任務", admin_missions_path %></div>
  </div>
</div>