<nav class="top-list">
  <div class="nav-list-left">
    <%= link_to  t("back.mission_list"), user_missions_path %>
  </div>
  <div class="nav-list-right">
    <%= link_to  t("back.user_list"), users_path %>
  </div>
</nav>