.mission-new{
    width: 60%;
    height: 100vh;
    border: 1px solid black;
    margin: auto;

        #new_mission{
          margin-top: 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100vh;
          padding: 20px;
          div{
            width: 100%;
            display: flex;
            label{
              width: 20%;
            }
            input{
              width: 60%;
              height: 30px;
            }
            textarea{
              width: 60%;
              height: 300px;
              overflow: scroll;
            }
          }
        }
        
}