.missions .modal-dialog{
  width: 1200px;
}
#mission-title{
  width: 100%;
}
.missions .modal-header{
  display: flex;
  background-color: #e84118;
  color: white;
  border-radius: 6px;
}
.modal-header .close{
    font-size: 50px;
}
.modal-header .close:hover{
  color: black;
}