*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.user-new{
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  color: white;
  form{
    width: 800px;
    height: 600px;
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 10px 0;
    ul{
      list-style: none;
    }
    li{
      list-style: none;
    }
    .field{
      width: 100%;
      input{
        font-size: 22px;
        color: black;
      }
      label{
        margin: 20px;
      }
    }
    input[type="submit"]{
      display: block;
      padding: 10px 20px;
      border-radius: 14px;
      background-color: #3cb1e7;
      color: white;
      font-size: 22px;
      margin: 100px auto 0 auto;
    }
  }
}

.user-show{
  margin: 70px auto 0 auto;
  width: 50%;
  height: 500px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
  background-color: #fff;
  color: black;
  font-size: 20px;
  p{
    text-align: center;
    width: 100%;
  }

}
        
