<div class="mission-new">
  <h1><%= t("mission.new") %></h1>
  <%= render 'shared/errors', user: @mission %>
  <%= link_to  t("tag.new"), new_user_tag_path(params[:user_id]) %>
  <%= render 'mission_form', mission: @mission %>
</div>
