<nav class="top-list">
  <div class="nav-list-left">
    <%= link_to  t("nav.mission_list"), search_form_path %>
    <%= link_to  t("admin.home"), admin_root_path %>
  </div>
  <div class="nav-list-right"></div>
</nav>