.mission-edit{
  width: 1200px;
  margin: auto;
  form{
      width: 60%;
      margin: 70px auto 0 auto;
      border: 1px solid black;
      background-color: white;
      padding: 10px;
      div{
        width: 100%;
        display: flex;
        margin: 10px 0;
        label{
          width: 20%;
        }
        input{
          width: 60%;
          height: 30px;
        }
        .radio_buttons{
          .radio{
            margin: 50px;
          }
        }
        textarea{
          width: 60%;
          height: 300px;
          overflow: scroll;
        }
      }
      input[type="submit"]{
        display: block;
        padding: 10px 20px;
        border-radius: 14px;
        background-color: #3cb1e7;
        color: white;
        font-size: 22px;
        margin: 100px auto 0 auto;
      }
  }
}