.mission-show{
    width: 800px;
    height: 100vh;
    margin: 70px auto 0 auto;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    overflow: scroll;
    .title{
        font-size: 30px;
        font-weight: normal;
        margin: 5px 0;
    }
    .txt{
        text-align: center;
    }
    .tags{
      width: 100%;
      padding: 10px;
      background-color: white;
      #index-tag{
        display: inline-block;
      }
      .tag{
        position: relative;
        display: inline-block;
        background-color: rgb(207, 204, 204);
        padding: 5px 10px;
        border-radius: 4px;
        margin: 5px;
      }
      .tag-delete{
        position: relative;
        font-size: 8px;
        bottom: 10px;
        left: -20px;
      }
    }
}